<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <% usernames.forEach((user, index) => { %>
    <ul>
      <%= title %>
      <li>User: <%= user.username %></li>
      <li>Message: <%= user.text %></li>
      <li>Date: <%= user.created_at %></li>
      <a href="/messages/<%= index %>">open</a>
    </ul>
    <% }); %>
  </body>
</html>
